<!DOCTYPE html><!--HTML5-->
<meta charset="UTF-8"><!--인코딩-->
<html>
    <head>
        <!--js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
    </head>

    <body>
        <div class="container"><!--전체-->
            <header><!--헤더-->
                <div id="carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active h-50"><!--첫번째 페이지-->
                            <img src="/image/Project/header/header-bg.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption h-75">
                                <h1 class="text-white">Welcome To Our Studio!</h1>
                                <h1 class="display-3 text-white">IT'S NICE TO MEET YOU</h1>
                                <button class="btn text-white bg-warning" type="submit"><h3>TELL ME MORE</h3></button>
                            </div>
                        </div>

                        <div class="carousel-item"><!--두번째 페이지-->
                            <img src="/image/Project/header/bg0.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption h-75">
                                <h1 class="text-white">Welcome To Our Studio!</h1>
                                <h1 class="display-3 text-white">IT'S NICE TO MEET YOU</h1>
                                <button class="btn text-white bg-warning" type="submit"><h3>TELL ME MORE</h3></button>
                            </div>
                        </div>

                        <div class="carousel-item"><!--세번째 페이지-->
                            <img src="/image/Project/header/bg0.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption h-75">
                                <h1 class="text-white">Welcome To Our Studio!</h1>
                                <h1 class="display-3 text-white">IT'S NICE TO MEET YOU</h1>
                                <button class="btn text-white bg-warning" type="submit"><h3>TELL ME MORE</h3></button>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            
            <div class="text-center mt-5 mb-5"><!--title-->
                    <h1>SERVICES</h1>
                    Lorem ipsum dolor sit amet consectetur.
            </div><!--title END-->
            <div class="row justify-content-md-center mt-5 mb-5">
                <div class="col-lg-3 col-sm-12 m-3 p-0"><!--cart location-->
    
                    <div class="text-center p-1 rounded"><!--cart icon-->
                        <img src="/image/Project/service/cart.PNG">
                    </div><!--cart icon END-->

                    <div class="text-center m-3"><!--cart main-->
                        <div class="m-3">
                            <h2>E-Commerce</h2><!--cart title-->
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </div><!--cart main END-->
    
                </div><!--cart location END-->

                <div class="col-lg-3 col-sm-12 m-3 p-0"><!--moniter location-->
    
                    <div class="text-center p-1 rounded"><!--moniter icon-->
                        <img src="/image/Project/service/moniter.PNG">
                    </div><!--moniter icon END-->
                    
                    <div class="text-center m-3"><!--moniter main-->
                        <div class="m-3">
                            <h2>Responsive Design</h2><!--title-->
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </div><!--moniter main END-->
    
                </div><!--moniter location END-->

                <div class="col-lg-3 col-sm-12 m-3 p-0"><!--lock location-->

                    <div class="text-center p-1 rounded"><!--lock icon-->
                        <img src="/image/Project/service/locker.PNG">
                    </div><!--lock icon END-->
                    
                    <div class="text-center m-3"><!--lock main-->
                        <div class="m-3">
                            <h2>Web Security</h2><!--title-->
                        </div>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
                    </div><!--lock main END-->
            </div><!--lock location END-->

            </div>

            <div class="mt-5 mb-5 bg-light"><!--phtofolio-->
                <div class="text-center mt-5 mb-5">
                    <h1>PORTFOLIO</h1>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="row justify-content-center">
                    
                    <div class="col-lg-4 col-sm-12">
                        <div><!--image-->
                            <img class="img-fluid" src="/image/Project/photo/01-thumbnail.jpg">
                        </div>
                        <div class="text-center"><!--word-->
                            <h5>Threads</h5><p>Illustration</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div><!--image-->
                            <img class="img-fluid" src="/image/Project/photo/02-thumbnail.jpg">
                        </div>
                        <div class="text-center"><!--word-->
                            <h5>Explore</h5><p>Graphic Design</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div><!--image-->
                            <img class="img-fluid" src="/image/Project/photo/03-thumbnail.jpg">
                        </div>
                        <div class="text-center"><!--word-->
                            <h5>Finish</h5><p>Identity</p>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-12">
                        <div><!--image-->
                            <img class="img-fluid" src="/image/Project/photo/04-thumbnail.jpg">
                        </div>
                        <div class="text-center"><!--word-->
                            <h5>Lines</h5><p>Branding</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div><!--image-->
                            <img class="img-fluid" src="/image/Project/photo/05-thumbnail.jpg">
                        </div>
                        <div class="text-center"><!--word-->
                            <h5>SouthWest</h5><p>Webside Design</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <div><!--image-->
                            <img class="img-fluid" src="/image/Project/photo/06-thumbnail.jpg">
                        </div>
                        <div class="text-center"><!--word-->
                            <h5>Window</h5><p>Photography</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>