<!DOCTYPE html><!--HTML5-->
<meta charset="UTF-8"><!--인코딩-->
<html>
    <head>
        <!--js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
    </head>

    <body>
        <container>
            <h1 class="display-5">Display 1</h1>
            <p class="h1">h1. heading</p>
            <p>You can use the mark tag to <mark>highlight</mark> text.</p>
            <p><del>This line of text is meant to be treated as deleted text.</del></p>
            <p><u>This line of text will render as underlined</u></p>
            <p><em>This line rendered as italicized text.</em></p>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur ...</p>
                <footer class="blockquote-footer">
                    Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
            <ul class="list-inline">
                <li class="list-inline-item">Lorem ipsum</li>
                <li class="list-inline-item">Nulla volutpat</li>
            </ul>
            <dl class="row">
                <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo</dd>
                <dt class="col-sm-3">Nesting</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-4">Nested definition list</dt>
                            <dd class="col-sm-8">Aenean posuere, tortor sed cursus feugiat</dd>
                        </dl>
                    </dd>
            </dl>
            
            <div class ="table-responsive-sm">
                <table class="table table-bordered table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th> <th>First</th> <th>Last</th> <th>Handle</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr class="table-active">
                                <th>1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td>
                            </tr>
                            <tr>
                                <th>2</th> <td>Jacob</td> <td>Thornton</td>
                                <td class="table-success">@fat</td>
                            </tr>
                            <tr>
                                <th>3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td>
                            </tr>
                        </tbody>
                        <caption>List of users</caption>
                </table>
            </div>
            <div class="table-responsive-sm">
                    <table class="table">
                            <tr>
                                    <th>#</th><th>Heading</th> <th>Heading</th> <th>Heading</th><th>Heading</th> <th>Heading</th> <th>Heading</th>            
                            </tr>
                            <tr>
                                    <th>1</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th>
                            </tr>
                            <tr>
                                    <th>2</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th> 
                            </tr>
                            <tr>
                                    <th>3</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th><th>Cell</th> 
                            </tr>
                    </table>
                    <img src="../jeon/" class="rounded float-left" alt="...">
                    <img src="..." class="rounded float-right" alt="...">
            </div>
                
        </container>
    </body>
</html>